

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('fundo.jpg');
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
button {
    padding: 13px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    border-radius: 15px;
    border: none;
    color: #1c1c1c;

}
.container {
    text-align: center;
    width: 80vw;
}

.formulario {
    border: 1px solid #ccc;
    border-radius: 17px;
    width: 60%;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff7e9;
}
.formulario h3{
    color: #ff0077;
}
.formulario h4{
    color: #ff53a3;
}
.response {
    margin-bottom: 30px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    text-align: left;
    width: 60%;
    background-color: #fff7e9;
}

.element-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.element-input {
    height: 30px;
    flex: 1;
    margin-right: 20px;
}

.btn-primary {
    font-weight: 600;
    background-color: rgb(227, 221, 254);
    color: rgb(80, 51, 206);
}

.btn-danger {
    background-color: rgb(255, 200, 211);
    color: #ff0077;
}

.btn-success {
    font-weight: 600;
    background-color: rgb(203, 255, 237);
    color: rgb(0, 159, 101);
    
}
